.fieldset-form{
    background-color: rgb(165, 165, 165);
    border-radius: 15px;
}

.dados-pessoais{
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.endereco{
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
}

.hobbies{
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
}